* {
    box-sizing: border-box;

}

body {
    padding: 20px;
    position: center;
    font-family: 'Dosis';
    background-color: #2d2928;
}

.center {
    text-align: center;
}


h3 {
    background-color: #556962;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 10px 20px 10px;
    position: relative;
}

h3 span {
    position: absolute;
    top: -120px;
}

h2 {
    color: #656855;
    text-align: center;
}

p {
    color: white;
    font-size: 1.4rem;
}

/*header*/

header {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(45, 41, 40, 0.8);
    z-index: 1000000;
}


main {
    padding-top: 120px;
}

h1 {
    color: white;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
}

.disappear {
    position: fixed;
    right: -100vw;
    transition: all 0.5s;
}

.close {
    color: white;
    cursor: pointer;
}

nav ul {
    list-style: none;
}

nav li, a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    margin-top: 40px;
}

nav li, a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.hamburger div {
    width: 30px;
    height: 5px;
    background-color: #dccdbc;
    margin: 6px 12px;
    cursor: pointer;
    margin-right: 20px;;
}

.open {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background-color: #dccdbc;
    display: block;
    text-align: right;
    z-index: 100;
}

/*blurb section*/

.blurb {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    background-image: url("https://res.cloudinary.com/hannahbannan/image/upload/v1600290768/Project%20Portfolio/A22DCFCC-998E-4B13-9AC5-F031A2C31786_jxfju8.jpg");
}

.overlay-text {
    color: white;
}

/*about section*/

.headshot {
    width: 100%;
    border-radius: 45px;;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-container p { 
    padding: 10px 20px 10px 20px;
}

/*skills section*/

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills h3 {
    width: 100%;
}

.skills-container {
    position: center;
    text-align: center;
    padding-top: 40px;
    width: 80%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
}

.skills-container p {
    font-size: 1.1rem;
    padding-top: 5px;
}

.skills-container img {
    width: 90px;
    height: 90px;
    /* filter: grayscale(100%); */
}

.skills-container img:hover {
    opacity: 0.5;
}
/*Work section*/

#work p {
    padding: 10px 20px 10px 20px;
}

.project-container {
    width: 100%;
    display: flex;
    position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 20px 10px 20px;
}

 .Venice, .Korilla, .Mars, .Dating, .Spudify, .Tooli {
    position: relative;
    margin: 20px auto;
}

.project-img {
    width: 100%;
    size: cover;
    border: none;
    border-radius: 20px;
    z-index: 0;
}

.project-hover {
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    border-radius: 20px;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}


.Venice:hover> .project-hover {
    visibility: visible;
}
.Korilla:hover> .project-hover {
    visibility: visible;
}
.Mars:hover> .project-hover {
    visibility: visible;
}
.Dating:hover> .project-hover {
    visibility: visible;
}
.Spudify:hover> .project-hover {
    visibility: visible;
}
.Tooli:hover> .project-hover {
    visibility: visible;
}

h4 {
   color: #dccdbc;
   text-align: center;
   font-weight: bolder;
}

.checkButton {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    background-color: #556962;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
}

/*Design carousel*/

#design p {
    padding: 30px;
}

.carousel-inner {
    width: 100%;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    max-width: 500px;
    width: 100%;
    position: center;
    margin: 0 auto;
}

#austin {
    max-height: 500px;
    width: 375px;
    position: center;
}


/*contact*/

#contact {
    height: 320px;
    text-align: center;
    margin-bottom: 40px;
}

.socials {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.icon {
    height: 60px;
    position: relative;
}

.icon:hover {
    opacity: 0.5;
}

.email {
    text-decoration: none;
    color: #dccdbc;
    text-align: center;
    font-size: 1rem;
}

/*footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 24px;
    width: 100%;
    background-color: #5b534f;
    z-index: 99999;
  }

.footer {
    color: white;
    text-align: left;
    font-size: 16px;
}



/*Media Queries*/


@media (min-width: 768px) {

  /*header nav*/  
    .disappear {
        display: flex;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
    }

    .close {
        display: none;
    }

    nav li, a {
        color: #dccdbc;
        font-size: 1.4rem;
        padding: 0 20px 0 0;
    }

    .hamburger {
        display: none;
    }
    
    .open {
        display: none;
    }

  /*about section*/  

    .headshot {
        width: 50%;
        padding: 20px;
    }
  
    .about-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  
    .about-container p {
        width: 50%;
        padding: 20px;
    }

    p {
        font-size: 1.5rem;
    }

  /*skills section*/
    
  .skills-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
  }

  /*work section*/
  
    .project-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1 fr);
        grid-gap: 15px;
    }

    .Dating {
        grid-area: 1/1/4/3;
    }

    .Korilla {
        grid-area: 4/5/7/7;
    }

    .Spudify {
        grid-area: 4/3/7/5;
    }

    .Venice {
        grid-area: 4/1/7/3;
    }

    .Mars {
        grid-area: 1/3/4/5;
    }

    .Tooli {
        grid-area: 1/5/4/7;
    }
}

@media (min-width: 1024px) {
    .project-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
    }
    .Mars img, .Dating img, .Korilla img, .Venice img, .Tooli img, .Spudify img {
        width: 300px;
        filter: white(50%)
    }
}

@media (max-width: 768px) and (orientation: landscape) {

.blurb {
    margin-top: -40px;
}    

.headshot {
    width: 50%;
    padding: 20px;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-container p {
    width: 50%;
    padding: 20px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
}

.skills-container img {
    width: 70px;
    height: 70px;
}

}